{% extends "base.html" %}

{% block title %}Agregar Dataloger{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Agregar Dataloger</h1>
    <hr>

    <form method="POST">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" name="nombre" id="nombre" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="ip" class="form-label">IP</label>
            <input type="text" name="ip" id="ip" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="api_token" class="form-label">API Token</label>
            <input type="text" name="api_token" id="api_token" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="api_url" class="form-label">API URL</label>
            <input type="text" name="api_url" id="api_url" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-success">Guardar</button>
        <a href="{{ url_for('main.datalogers_lista') }}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
