{% extends "base.html" %}

{% block title %}Lista de Datalogers{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1 class="text-center">Lista de Datalogers</h1>
  <hr>
  <div class="row justify-content-center">
    <table id="tabla-datalogers" class="table table-striped table-responsive text-center">
      <thead class="table-dark">
        <tr>
          <th>Nombre</th>
          <th>IP</th>
          <th>API URL</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
      {% for datalogger in datalogers %}
        <tr>
          <td>{{ datalogger.nombre }}</td>
          <td>{{ datalogger.ip }}</td>
          <td>{{ datalogger.api_url }}</td>
          <td>
          <a href="{{ url_for('main.datalogers_editar', id=datalogger._id) }}" class="btn btn-info btn-sm">Editar</a>
            <button class="btn btn-danger btn-sm btn-eliminar"
                    data-id="{{ datalogger._id }}"
                    data-url="{{ url_for('main.datalogers_eliminar', id=datalogger._id) }}">
              Eliminar
            </button>
          </td>

        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-center mt-3">
    <!-- El botón se inyecta en la parte superior derecha gracias a DataTables -->
  </div>
</div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <!-- Incluir DataTables CSS y JS -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css"/>
  <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
  <script>
    $(document).ready(function(){
      $('#tabla-datalogers').DataTable({
          "pageLength": 10,
          "language": {
              "search": "Buscar:",
              "lengthMenu": "Mostrar _MENU_ registros por página",
              "zeroRecords": "No se encontraron registros",
              "info": "Mostrando página _PAGE_ de _PAGES_",
              "infoEmpty": "No hay registros disponibles",
              "infoFiltered": "(filtrado de _MAX_ registros totales)",
              "paginate": {
                "first": "Primero",
                "last": "Último",
                "next": "Siguiente",
                "previous": "Anterior"
            }
          },
          // Creamos dos contenedores en la parte superior: uno para el filtro y otro para el botón
          "dom": '<"top"f<"dt-add">>rt<"bottom"lp><"clear">',
          "initComplete": function(settings, json) {
              // Insertamos el botón "Agregar Dataloger" en el contenedor creado con clase "dt-add"
              $("div.dt-add").html('<a href="{{ url_for("main.datalogers_crear") }}" class="btn btn-primary">Agregar Dataloger</a>');
          }
      });
    });
  </script>
{% endblock %}

{% block extra_css %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/datatables_custom.css') }}">
{% endblock %}

